<h1>Callouts</h1>

<p><%=@thisuser.name %></p>

<ul><% @thisuser.callouts.reverse.each do |u| %>
    <li><%= u.name %></li>
    <li><%= u.body %></li>
    <li><%= u.created_at %></li>
    <br>
    <% end %>
</ul>



