@import "bootstrap";

//css here
h1 {
    text-align: center;
}
ul {
    text-align: center;
}
p {
    text-align: center;
}
body {
    background-image: url("https://www.spredfast.com/sites/default/files/images/blog/blog%20header.png");
}