// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
    // display: inline;
    font-family: helvetica, sans-serif;
    text-align: center;
    color: blueviolet;
    font-size: 32px;
}
